<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="">Angular Forms</a>
      </li>

      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/templateForm">Form - Template Driven</a>
      </li>

      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/dataForm">Form - Data Driven</a>
      </li>
    </ul>
  
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>